<%- include("partials/header.ejs") %>
    <main id="decks-main">
      <h1 class="ui-hover">Decks</h1>
      <section id="decks-container">
        <% const deckNames = ["Desert Mirage", "Shadowed Labyrinth", "Inferno Blaze", "Mystic Marsh", "Verdant Canopy", "Celestial Heights"]; %>
        <% for (let i = 1; i < 7; i++) { %>
          <a href="/MagicTheGathering/deck/<%=i%>">
            <article class="decks-holder">
              <div class="project titel-decks" style="background-image: linear-gradient(to bottom, transparent, #100f15d2), url('https://raw.githubusercontent.com/Imrxng/fotosProjectWEB/main/deck<%= i %>.webp');">
                <h2><%= deckNames[i - 1 ] %></h2>
              </div>
            </article>
          </a>
        <% }; %>
      </section>
<%- include("partials/footer.ejs") %> 