<%- include("partials/header.ejs") %>

<% if(popupEdit) { %>
  <div class="login-error">
    <section class="login-error-container deck-edit" >
      <form action="/MagicTheGathering/edit/<%= id %>" method="post">
        <label for="name">Deck naam: </label><br>
        <input type="text" class="deck-edit-input" name="name">
        <br>
        <label for="name">Url afbeelding: </label><br>
        <input type="text" class="deck-edit-input" name="url">
        <br>
        <input type="submit" value="Bevestigen" class="track-btn">
      </form>
        <polyline class="arrow" fill="none" stroke="currentColor" points="1 1,6.5 6.5,12 1"/>
        <polyline class="arrow" fill="none" stroke="currentColor" points="1 12,6.5 6.5,12 12"/>
      </svg>
        <p><%=limit60%></p> 
        <a class="track-btn" href="/MagicTheGathering/edit/<%= id %>" >annuleren</a>
    </section>  
  </div>
<% } %>

    <% if (card) { %>
      <div class="info-toggle">
        <article class="wrapper-card">
          <button class="btn-popup">
            
            <span style="font-size: 3rem;">
              <script>
               document.addEventListener("keydown", (e) => {
                if(e.which == 27){

                  window.location.href ="/MagicTheGathering/deck/<%= id %>"
                }
                })
              </script>
              <a href="/MagicTheGathering/deck/<%= id %>" style="all: unset;">ⓧ</a></span></button>
          <div class="popup-wrapper">
            <section class="card-details-holder">
              
              <img class="popup-img" src="<%=card.imageUrl%>" alt="<%=card.name%>" id="popupCardImg" 
                <% if (card.rarity === "Common") { %>
                  style="box-shadow: 0px 2px 6px 5px rgba(255, 255, 255, 0.6);"
                <% } else if (card.rarity === "Uncommon") { %>
                  style="box-shadow: 0px 2px 6px 5px rgba(18, 80, 179, 0.6);"
                <% } else if (card.rarity === "Rare") { %>
                  style="box-shadow: 0px 2px 6px 5px rgba(174, 186, 85, 0.7);"
                <% } else if (card.rarity === "Mythic") { %>
                  style="box-shadow: 0px 2px 6px 5px rgba(151, 0, 0, 0.9);"
                <% }; %>
                />

              <div class="infos">
                <h4>kaart naam</h4>
                <br>
                <p id="card-name"><%=card.name%></p>
                <br>
                <hr class="solid" />
                <h4>zeldzaamheid</h4>
                <br>
                <p id="card-rarity"
                <% if (card.rarity === "Common") { %>
                style="color: rgba(255, 255, 255, 0.6);" 
                <% } else if (card.rarity === "Uncommon" ) { %>
                style="color: rgba(18, 80, 179, 0.6);" 
                <% } else if (card.rarity === "Rare" ) { %>
                style="color: rgba(174, 186, 85, 0.7);" 
                <% } else if (card.rarity === "Mythic") { %>
                 style="color: rgba(151, 0, 0, 0.9);" 
                <% } %>
             >
                <%=card.rarity%>
               <% if (card.rarity === "Common") { %>
                <img src="/assets/images/rarity1.webp" width="20px" alt="Common">
                <% } else if (card.rarity === "Uncommon") { %>
                <img src="/assets/images/rarity 2.png" width="20px" alt="Uncommon">
                <% } else if (card.rarity === "Rare") { %>
                  <img src="/assets/images/rarity 3.png" width="20px" alt="Rare">
                <% } else if (card.rarity === "Mythic") { %>
                <img src="/assets/images/rarity 4.png" width="20px" alt="Mythic">
                <% } %>
              </p>
                <br>
                <hr class="solid" />
                <h4>eigenschappen</h4>
                <br>
                <p id="card-text"><%=card.text%></p>
                <br>
                <hr class="solid" />
                <h4>type</h4>
                <br>
                <p id="card-type"><%=card.type%></p>
                <br>
                <hr class="solid" />
                <article id="popupdecksIndividueelVinkEnVuil">
                  <p style="margin: 3px 1rem 0 0; font-size: 1.4rem;">x<%= cardCounts[card.id] %></p>
                  <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/min"><img src="/assets/icons/min.webp" alt="min" /></a>
                  <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/add"><img src="/assets/icons/plus.webp" alt="plus" /></a>
                  <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/delete"><img src="/assets/icons/trash.webp" alt="trash" /></a>
                </article>
              </div>
            </section>
          </div>
        </article>
      </div>
    <% }; %>
    <main id="mainDecksIndividueel">
      <h1 style="font-size: 2rem; font-family: dragon;">SuperDeck</h1>
           
      <section id="buttonrow">
        <button> <a href="/MagicTheGathering/decks" id="decksGaTerug"><img src="/assets/icons/arrowleft.png" width="30px"  alt="arow back"> GO BACK</a></button>
        <a href="/MagicTheGathering/export/<%= id %>" id="exportButton"> EXPORT<img src="/assets/icons/arrowright.png" style="width: 30px; height: 30px;" alt="cardsize"></a>
      </section>
      
      <section id="sectionDeckCards" class="card-layout">
        <a href="/MagicTheGathering/edit/<%= id %>"><img src="/assets/icons/edit.svg" style="width: 2rem;" alt="edit"></a>
        <article id="deckPhotoAndText">
            <figure>
              <img  style="background-image: linear-gradient(to bottom, transparent, #100f15d2),
              url('<%= deck.url %>');">
              <figcaption><%= deck.deckName %> </figcaption>
            </figure>
          </article>
           <div id="iconsrow">
      <article class="icons first">
        <p><img src="/assets/icons/mana.webp" alt="mana" style="width: 30px; height: 30px;">
          mana:   
       <% if (deck) { %>
        <%= manaCost %> 
      <%} else { %>
        0
      <% }; %></p>
      </article>
      <article class="icons">
        <p><img src="/assets/icons/cardsize.png" alt="card" style="width: 30px; height: 30px;">
       kaarten:  
       <% if (deck) { %>
        <%= deck.cards.length %>
      <%} else { %>
        0
      <% }; %>
       / 60 </p>
      </article>
      <article class="icons last">
        <p><img src="/assets/icons/tree.webp" alt="tree" style="width: 30px; height: 30px;">
        landkaarten: <%= totalLandCards %></p>
      </article>
     </div>
     <img src="/assets/icons/manaicon2.png" id="manaicon2" alt="">
     <%- include("partials/legende.ejs") %>
     <% if (deck && deck.cards.length > 0) { %>
       <% for (const card of uniqueCards) { %>
         <article class="youcard">
           <a href="/MagicTheGathering/deck/<%=id%>/<%= card.id %>">
              <img
              src="<%= card.imageUrl %>"
              class="picturesDecksIndividueel"
              alt="<%= card.name %>"
            />
           </a>
            <p>x<%= cardCounts[card.id] %></p>
         </article>
       <% }; %>
     <% } else { %>
        Deck is nog leeg.
    <% }; %>
     
<%- include("partials/footer.ejs") %>