<%- include("partials/header.ejs") %>

    <% let counter = 0; %>
    <% let counter2 = 0; %>
    <% if (card) { %>
      <div class="popupdecksIndividueel" id="popupD<%= counter %>" <% counter++ %>>
        <button id="buttonClosePopUpIndividueel"><h1><a href="/MagicTheGathering/deck/<%= id %>" style="all: unset;">ⓧ</a></h1></button>
        <section>
          <article id="popupdecksIndividueelImages">
            <img
              src="<%= card.imageUrl %>"
              id="picturePopUpIndividueel"
              alt="<%= card.name %>"
              <% if (card.rarity === "Common") { %>
                style="box-shadow: 0px 2px 6px 5px rgba(255, 255, 255, 0.6);"
              <% } else if (card.rarity === "Uncommon") { %>
                style="box-shadow: 0px 2px 6px 5px rgba(18, 80, 179, 0.6);"
              <% } else if (card.rarity === "Rare") { %>
                style="box-shadow: 0px 2px 6px 5px rgba(174, 186, 85, 0.7);"
              <% } else if (card.rarity === "Mythic") { %>
                style="box-shadow: 0px 2px 6px 5px rgba(151, 0, 0, 0.9);"
              <% }; %>
            />
            <p>x<%= cardCounts[card.id] %></p>
          </article>
          <article id="popupdecksIndividueelEigenschappen">
            <h4>KAARTNAAM</h4>
            <br />
            <p id="card-name"><%= card.name %></p>
            <br />
            <hr class="solid" />
            <h4>zeldzaamheid</h4>
            <br />
            <p id="card-rarity"
              <% if (card.rarity === "Common") { %>
              style="color: rgba(255, 255, 255, 0.6);" 
              <% } else if (card.rarity === "Uncommon" ) { %>
              style="color: rgba(18, 80, 179, 0.6);" 
              <% } else if (card.rarity === "Rare" ) { %>
              style="color: rgba(174, 186, 85, 0.7);" 
              <% } else if (card.rarity === "Mythic") { %>
               style="color: rgba(151, 0, 0, 0.9);" 
              <% } %> >
              <%= card.rarity %>
              <% if (card.rarity === "Common") { %>
                <img src="/assets/images/rarity1.webp" width="20px" alt="Common">
                <% } else if (card.rarity === "Uncommon") { %>
                <img src="/assets/images/rarity 2.png" width="20px" alt="Uncommon">
                <% } else if (card.rarity === "Rare") { %>
                  <img src="/assets/images/rarity 3.png" width="20px" alt="Rare">
                <% } else if (card.rarity === "Mythic") { %>
                <img src="/assets/images/rarity 4.png" width="20px" alt="Mythic">
              <% } %>
            </p>
            <br />
            <hr class="solid" />
            <h4>eigenschappen</h4>
            <br />
            <p id="card-text"><%= card.text %></p>
            <br />
            <hr class="solid" />
            <h4>type</h4>
            <br />
            <p id="card-type"><%= card.type %></p>
          </article>
          <article id="popupdecksIndividueelVinkEnVuil">
            <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/min"><img src="/assets/icons/min.webp" alt="min" /></a>
            <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/add"><img src="/assets/icons/plus.webp" alt="plus" /></a>
            <a href="/MagicTheGathering/deck/<%= id %>/<%= card.id %>/delete"><img src="/assets/icons/trash.webp" alt="trash" /></a>
          </article>
        </section>
      </div>
    <% } else if (limit60) { %>
        <div class="login-error">
        <section class="login-error-container" >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" style="width:50px; color:#ec4523;">
            <polyline class="arrow" fill="none" stroke="currentColor" points="1 1,6.5 6.5,12 1"/>
            <polyline class="arrow" fill="none" stroke="currentColor" points="1 12,6.5 6.5,12 12"/>
          </svg>
            <p><%=limit60%></p> 
            <a class="login-error-close" href="/MagicTheGathering/closeLimitdeck/<%= id %>" >Sluiten</a>
        </section>
    <% }; %>
    <main id="mainDecksIndividueel">
      <h1 style="font-size: 2rem; font-family: dragon;">SuperDeck</h1>
           
      <section id="buttonrow">
        <button> <a href="/MagicTheGathering/decks" id="decksGaTerug"><img src="/assets/icons/arrowleft.png" width="30px"  alt="arow back"> GO BACK</a></button>
        <a href="/MagicTheGathering/export/<%= id %>" id="exportButton"> EXPORT<img src="/assets/icons/arrowright.png" style="width: 30px; height: 30px;" alt="cardsize"></a>
      </section>
      <section id="sectionDeckCards" class="card-layout">
        
        <article id="deckPhotoAndText">
            <figure>
              <img  style="background-image: linear-gradient(to bottom, transparent, #100f15d2),
              url(/assets/images/deck<%=id%>.webp);">
              <figcaption>Deck <%=id%></figcaption>
            </figure>
          </article>
           <div id="iconsrow">
      <article class="icons first">
        <p><img src="/assets/icons/mana.webp" alt="mana" style="width: 30px; height: 30px;">
       mana:   
       <% if (deck) { %>
        <%= manaCost %> 
      <%} else { %>
        0
      <% }; %></p>
      </article>
      <article class="icons">
        <p><img src="/assets/icons/cardsize.png" alt="card" style="width: 30px; height: 30px;">
       kaarten:  
       <% if (deck) { %>
        <%= deck.cards.length %>
      <%} else { %>
        0
      <% }; %>
       / 60 </p>
      </article>
      <article class="icons last">
        <p><img src="/assets/icons/tree.webp" alt="tree" style="width: 30px; height: 30px;">
        landkaarten: <%= totalLandCards %></p>
      </article>
     </div>
     <img src="/assets/icons/manaicon2.png" id="manaicon2" alt="">
     <%- include("partials/legende.ejs") %>
     <% if (deck && deck.cards.length > 0) { %>
       <% for (const card of uniqueCards) { %>
         <article class="youcard" id="<%= counter2 %>" <% counter2++ %>>
           <a href="/MagicTheGathering/deck/<%=id%>/<%= card.id %>">
              <img
              src="<%= card.imageUrl %>"
              class="picturesDecksIndividueel"
              alt="<%= card.name %>"
            />
           </a>
            <p>x<%= cardCounts[card.id] %></p>
         </article>
       <% }; %>
     <% } else { %>
        Deck is nog leeg.
    <% }; %>
     
<%- include("partials/footer.ejs") %>