<%- include("partials/header.ejs") %>
  
    <div id="popupdecksIndividueel">
      <button onclick="buttonClosePopUpIndividueel()" id="buttonClosePopUpIndividueel"><h1>ⓧ</h1></button>
      <section>
        <article id="popupdecksIndividueelImages">
          <img
            src="/assets/images/cardindividueel.webp"
            id="picturePopUpIndividueel"
            alt=""
          />
        </article>
        <article id="popupdecksIndividueelEigenschappen">
          <h4>KAARTNAAM</h4>
          <br />
          <p id="card-name">Archangel Avacyn</p>
          <br />
          <hr class="solid" />
          <h4>zeldzaamheid</h4>
          <br />
          <p id="card-rarity">common</p>
          <br />
          <hr class="solid" />
          <h4>eigenschappen</h4>
          <br />
          <p id="card-text">Flying, vigilance</p>
          <br />
          <hr class="solid" />
          <h4>type</h4>
          <br />
          <p id="card-type">Flash</p>
        </article>
        <article id="popupdecksIndividueelVinkEnVuil">
          <img src="/assets/icons/min.webp" alt="" />
          <img src="/assets/icons/plus.webp" alt="" />
          <img src="/assets/icons/trash.webp" alt="" />
          <img src="/assets/icons/vinkje.webp" alt="" />
        </article>
      </section>
    </div>
    <main id="mainDecksIndividueel">
      <h1 style="font-size: 2rem; font-family: dragon;">SuperDeck</h1>
           
      <section id="buttonrow">
        <button> <a href="/MagicTheGathering/decks" id="decksGaTerug"><img src="/assets/icons/arrowleft.png" width="30px"  alt="arow back"> GO BACK</a></button>
        <button onclick="exportDeck()" id="exportButton"> EXPORT<img src="/assets/icons/arrowright.png" style="width: 30px; height: 30px;" alt="cardsize"></button>
      </section>
      <section id="sectionDeckCards" class="card-layout">
        
        <article id="deckPhotoAndText">
            <figure>
              <img  style="background-image: linear-gradient(to bottom, transparent, #100f15d2),
              url(/assets/images/deck<%=id%>.webp);">
              <figcaption>Deck <%=id%></figcaption>
            </figure>
          </article>
           <div id="iconsrow">
      <article class="icons first">
        <p><img src="/assets/icons/mana.webp" alt="mana" style="width: 30px; height: 30px;">
       mana:   
       <% if (deck) { %>
        <%= manaCost %> 
      <%} else { %>
        0
      <% }; %></p>
      </article>
      <article class="icons">
        <p><img src="/assets/icons/cardsize.png" alt="card" style="width: 30px; height: 30px;">
       kaarten:  
       <% if (deck) { %>
        <%= deck.cards.length %>
      <%} else { %>
        0
      <% }; %>
       / 60 </p>
      </article>
      <article class="icons last">
        <p><img src="/assets/icons/tree.webp" alt="tree" style="width: 30px; height: 30px;">
        landkaarten: <%= totalLandCards %></p>
      </article>
     </div>
     <img src="/assets/icons/manaicon2.png" id="manaicon2" alt="">
     <%- include("partials/legende.ejs") %>
     <% if (deck) { %>
       <% const cardCounts = {}; %>
       <% for (const card of deck.cards) { %>
         <% cardCounts[card.name] = (cardCounts[card.name] || 0) + 1; %>
       <% }; %>
       <% const uniqueCards = Array.from(new Set(deck.cards.map(card => card.name))); %>
       <% for (const cardName of uniqueCards) { %>
         <% const card = deck.cards.find(c => c.name === cardName); %>
         <article class="youcard">
           <img
             src="<%= card.imageUrl %>"
             class="picturesDecksIndividueel"
             alt="<%= card.name %>"
             onclick="OpenDecksIndividueel()"
           />
           <p>x<%= cardCounts[card.name] %></p>
         </article>
       <% }; %>
     <% } else { %>
        Deck is nog leeg.
    <% }; %>
     
<%- include("partials/footer.ejs") %>