<%- include("partials/header.ejs") %>
    <main id="decks-main">
      <h1 class="ui-hover">Decks</h1>
      <section id="decks-container">
        <% for (let i = 1; i < 7; i++) { %>
          <a href="/MagicTheGathering/deck/<%=i%>">
            <article class="decks-holder">
              <div class="deck<%=i%> project">
                <h2>Deck 0<%=i%></h2>
              </div>
            </article>
          </a>
        <% }; %>
      </section>
<%- include("partials/footer.ejs") %>